

<ion-content >
 <br><br>
  <icon-card>
    <img src="assets/icon/tellevo.jpeg" class="ion-padding">
  </icon-card>
  <br><br><br><br>
  <form>
    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input type="text" placeholder="Ingrese mail"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Contraseña:</ion-label>
      <ion-input type="password" placeholder="Ingrese contraseña"></ion-input>
    </ion-item>
    
  </form>
  <ion-button href="/card">Ingresar</ion-button>
  <ion-button href="/action-sheet">¿No tienes cuenta?</ion-button>

 
  

</ion-content>
