
<ion-content>
<ion-list>
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    
    
    <ion-item>
        <label class="form-label">Name</label>
        <input type="text" class="form-control" formControlName="name">
    </ion-item>
    
    <ion-item>
        <label class="form-label">Auto</label>
        <input type="text" class="form-control" formControlName="auto">
    </ion-item>
    
    <ion-item>
        <label class="form-label">Cantidad Asientos</label>
        <input type="text" class="form-control" formControlName="cantidadasid">
    </ion-item>
    
    <ion-item>
        <label class="form-label">Parada</label>
        <input type="text" class="form-control" formControlName="parada">
    </ion-item>

    <input type="submit" value="Enviar">
    
    </form>
</ion-list>

</ion-content>