<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
   <ion-title color="primary">Somos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/icon/tellevo.jpeg" />
    <ion-card-header>
      <ion-card-subtitle>TellevoAPP</ion-card-subtitle>
      <ion-card-title>Nuestra historia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Despues de la pandemia mundial y la vuelta a la presencialidad muchas instituciones
      tuvieron problemas para que sus alumnos se pudieran movilizar por la poca movilizacion del momento
      gracias a esto creamos esta aplicacion.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="assets/icon/1.jpg" />
    <ion-card-header>
      <ion-card-subtitle>TellevoAPP</ion-card-subtitle>
      <ion-card-title>Como funciona</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      De la forma que operamos es que nuestros propios estudiantes brinden sus propios automoviles
      y estos mismos dan tarifa a sus clientes que a la vez igual son clientes.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="assets/icon/2.jpg" />
    <ion-card-header>
      <ion-card-subtitle>TellevoAPP</ion-card-subtitle>
      <ion-card-title>Objetivos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Nuetros principales objetivos para la empresa son: <br>
      • Reducir los tiempos destinados a encontrar movilización de retorno a hogares. <br>
      • Fomentar el compañerismo entre alumnos.<br>
      • Instar a los alumnos a asistir presencialmente a clases.<br>
      • Reducir la huella de carbono.
    </ion-card-content>
  </ion-card>

</ion-content>
