<ion-header>
  <ion-toolbar>
  
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/" text="Regresar" color="primary" mode="ios">
    </ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <h1 style="text-align: center; color: purple;">Registrate! </h1>
    <ion-item class="item1">
        <ion-label>Rut:</ion-label>
        <ion-input type="text" placeholder="Ingrese su rut"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Nombre:</ion-label>
      <ion-input type="text" placeholder="Ingrese su nombre completo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Telefono:</ion-label>
      <ion-input type="number" placeholder="Ingrese su numero telefonico"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input type="email" placeholder="Ingrese su email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Contraseña:</ion-label>
      <ion-input type="password" placeholder="Ingrese su constraseña"></ion-input>
    </ion-item>
    <ion-button slot="start" href="/alert" color="primary"> Registrar!</ion-button>
    </form>

</ion-content>
